@import "src/utils/lib";

.button {
  border: 2px solid transparent;
  border-radius: 10px;

  font-family: $normal-font;
  font-weight: 700;
  font-size: 14px;
  padding: 0 8px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  cursor: pointer;

  background-color: white;
  color: $blue;

  transition: background-color .3s, border-color .3s, color .3s;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    border-color: white;
    color: white;
    background-color: transparent;
  }

  .icon {
    width: 30px;
    margin-right: 4px;
  }
}