@import "src/utils/lib";


.votingList {
  width: 100%;

  .voting {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    height: 50px;
    background-color: white;
    padding: 0 7px 0 12px;
    cursor: pointer;

    &.requiresExecution {
      border: 1px solid $teal;
    }

    p {
      color: $blue;
      margin-right: 5px;
      font-weight: lighter;

      &:nth-last-of-type(1) {
        margin-right: 0;
      }
    }

    .distribution {
      margin-right: 5px;
      font-size: 12px !important;
      font-weight: lighter !important;
      width: 100%;
      max-width: 100px;

      @include media(">=tablet") {
        max-width: 200px;
      }

      @include media(">=desktop") {
        max-width: 300px;
      }
    }

    .id {
      min-width: 20px;
      font-size: 12px;
      font-style: italic;
    }

    .type {
      background-color: $gray;
      color: white;
      font-size: 12px;
      font-weight: bold;
      border-radius: 5px;
      padding: 2px;

      &.common {
        background-color: $blue;
      }

      &.upgrade {
        background-color: $red;
      }

      &.change {
        background-color: $teal;
      }
    }
  }
}