@import "src/utils/lib";


.numberBar {
  background-color: white;
  font-size: 96px;
  width: 1.5em;
  border-radius: 10px;

  p {
    color: $blue;
    font-size: 96px;
    text-align: center;
    font-weight: bold;
  }
}