@import "src/utils/lib";

.guessPage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 40px;

  h2 {
    font-family: $header-font;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .headerWrapper {
    @include padded-content(0);

    .winners {
      @include header-margin;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

    }
  }

  .inputWrapper {
    @include padded-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    margin-top: 90px;

    >p {
      position: relative;
      font-size: 12px;
      font-style: italic;
      font-weight: lighter;
      top: -20px;
    }

    .amountInput {
      margin-bottom: 20px;
    }

    .betInput {

    }
  }

  .buttonWrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    margin-top: 120px;

    .btn {
      padding: 14px 26px;
      margin-bottom: 5px;
    }

    i {
      font-size: 12px;
      text-align: center;
      font-weight: lighter;

      b {
        font-weight: normal;
      }
    }
  }

}