@import "src/utils/lib";

.guessPage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 40px;

  h2 {
    font-family: $header-font;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .headerWrapper {
    @include padded-content(0);

    .winners {
      @include header-margin;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .loader {
        width: 50px;
      }
    }
  }

  .inputWrapper {
    @include padded-content;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    margin-top: 90px;
    margin-bottom: 50px;

    h2 {
      font-size: 24px;
    }

    >p {
      font-size: 12px;
      font-style: italic;
      font-weight: lighter;
    }

    .blocksNote {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 22px
    }

    .note {
      width: 100%;
      text-align: left;
      margin-top: 5px;
    }

    .amountInput {
    }

    .betInput {
      margin-top: 10px;
    }
  }

  .buttonWrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    margin-top: 50px;

    .btn {
      padding: 14px 26px;
      margin-bottom: 5px;
    }

    i {
      font-size: 12px;
      text-align: center;
      font-weight: lighter;

      b {
        font-weight: normal;
      }
    }
  }

}