@import "src/utils/lib";


.daoVotingsNewPage {
  @include padded-content;
  @include header-margin;

  .backBtn {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    color: white !important;
    padding: 0;
  }

  h2 {
    margin-top: 30px;
    font-family: $header-font;
    font-size: 18px;
  }

  h3 {
    margin-top: 20px;
    font-family: $header-font;
    font-size: 14px;
  }

  .typeInput {
    margin-top: 10px;
  }

  .note {
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
    padding: 0 5px;
  }

  .newContractInput {
    margin-top: 10px;
  }

  .error {
    color: $red;
  }

  .description {
    margin-top: 10px;
  }

  .btnWrapper {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    .btn {
      padding: 8px 15px;
      margin-bottom: 40px;
    }
  }
}